services:
  - type: web
    name: cuzzy-secret-santa
    env: python
    buildCommand: npm install && npm run build && pip install -r requirements.txt
    startCommand: gunicorn run:application
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /api/health
